{% extends 'pages/base.html' %}
{% load static %}
    
    {% block title %}
    <title>Create New Page</title> 
    {% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col border border-secondary p-5 rounded">
                <h1 class="text-center pb-5">Create a new Page</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group py-4">
                        <label for="title">Title*</label>
                        {{form.title}}
                    </div>
                    <div class="text-danger">{{form.title.errors}}</div>
                    
                    <div class="form-group py-4">
                        <label for="slug">Slug*</label>
                        {{form.slug}}
                    </div>
                    <div class="text-danger">{{form.slug.errors}}</div>
                    <input type="submit" value="Submit" class="btn btn-outline-success py-2 mt-2"/>
                </form>
                
            </div>
            <div class="col"></div>
        </div>
        
    </div>
    
</div>

{% endblock content %}


{% block navbar %}
<nav class="navbar navbar-dark bg-dark pb-2 pt-2">
    <a class="text-decoration-none text-white display-6 " href="{% url 'dashboard' %}">Linktree Clone</a>
    <form class="form-inline">
      <a href="{% url 'dashboard' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa-solid fa-house"></i> Home</a>
      <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-5"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout ({{user.profile.username}})</a>
      <a href="{% url 'profile' %}"><img class="img-fluid rounded-pill mx-2 ms-3 border border-success " src="{{user.profile.get_avatar_url}}" alt="" width="40px"></a>

    </form>
  </nav>
{% endblock navbar %}

