{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    <title>Delete Page - {{page.slug}}</title> 
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col col-md-4 mx-auto text-center border border-secondary rounded p-3" style="background-color:{{page.decorator.card_color}} ;">
                <h1 class="py-4">Are you sure you want to delete this page ?</h1>
                <hr>
                <form action="{% url 'page_delete' page.slug %}" method="POST" class="py-4">
                    {% csrf_token %}
                    <div class="container ">
                        <div class="row">
                            
                            <div class="col"><button type="submit" class="btn btn-danger m-3"><i class="fa-solid fa-trash-can"></i> Delete</button></div>
                            <div class="col"><a href="{% url 'page_detail' page.slug %}" class="btn btn-success m-3"><i class="fa-solid fa-delete-left"></i> Go Back</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}