{% extends 'pages/base.html' %}
{% load static %}
    
{% block title %}
<title>Customize - {{link.name }}</title> 
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col border border-secondary p-5 rounded" style="background-color: {{page.decorator.card_color}} ;" id="card">
                <h1 class="text-center pb-5">Customize Your Link</h1>

                <a id="text" style="text-decoration: none; color: {{link.decorator.text_color}};">
                    <div class="col w-100 p-3 rounded-pill text-center" id="link" style="background-color: {{link.decorator.background_color}} ;" >
                        {{link.name}}
                        
                    </div>
                </a>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group py-4">
                        <label for="bgc">Background Color</label>
                        <input class="form-control border border-dark" value="{{link.decorator.background_color}}" data-jscolor="{}" id="background_color" name="background_color">
                    </div>
                    
                    <div class="form-group py-4">
                        <label for="tc">Text Color</label>
                        <input class="form-control border border-dark" value="{{link.decorator.text_color}}" data-jscolor="{}" id="text_color" name="text_color">
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" value="Submit" class="btn btn-success py-2 mt-2"/>
                        </div>
                        <div class="col text-end">
                            <a href="{% url 'page_detail' link.page.slug %}" class="btn btn-danger py-2 mt-2">Cancel</a>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col"></div>
        </div>
        
    </div>
    
</div>

{% endblock content %}






{% block scripts %}
<script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#background_color').change(function(){
            var bgc = $('#background_color').val();
            $('#link').css('background-color', bgc);
        });
        $('#text_color').change(function(){
            var bgc = $('#text_color').val();
            $('#text').css('color', bgc);
        });
    });

</script>
{% endblock scripts %}