{% extends 'users/base.html' %}


{% block content %}
<h1 class="text-center pb-5" style="color: #2C3333;">Password Reset</h1>
<form method="POST"  role="form">
    {% csrf_token %}
    <div class="form-froup pb-3">
        <label for="email">Email*</label>
        {{form.email}}
    </div>
    <div class="text-danger">
        {{form.errors.email}}
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col p-0">
                <input type="submit" value="Request Password Reset" class="btn text-white" style="background-color: #2C3333;"/>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <a href="{% url 'login' %}" style="color: #395B64;">Login</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}