{% extends 'users/base.html' %}



{% block nocolor %}
<div class="col border border-success rounded text-white">
    <div class="container p-5">
        <div class="row">
            <div class="col pb-3">
                <h2>Password Changed Successfully!</h2>
            </div>
        </div>
        <p class="text-muted">Make sure to use your new password to login next time!</p>
        {% if user.is_authenticated %}
        <p class="text-muted">You're now logged in !</p>
        <div class="row">
            <div class="col pt-3">
                <a href="{% url 'dashboard' %}" class="btn btn-outline-success">Dashboard</a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col pt-3">
                <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}