{% extends 'users/base.html' %}

{% block title %}

    <title>Linktree Clone - Password Change</title>

{% endblock %}


{% block content %}
<h1 class="text-center pb-5" style="color: #2C3333;">Password Reset</h1>
                    <form method="POST"  role="form">
                        {% csrf_token %}
                        <div class="form-group pb-3">
                            <label for="email">Old Password*</label>
                            {{form.old_password}}
                        </div>
                        <div class="text-danger">
                            {{form.errors.old_password}}
                        </div>
                        <div class="form-group pb-3">
                            <label for="password">New Password*</label>
                            {{form.new_password1}}
                        </div>
                        <div class="text-danger">
                            {{form.errors.new_password1}}
                        </div>
                        <div class="form-group pb-3">
                            <label for="password">Confirm Password*</label>
                            {{form.new_password2}}
                        </div>
                        <div class="text-danger">
                            {{form.errors.new_password2}}
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Show Passwords
                            </label>
                        </div>
                        <div class="container mt-4">
                            <div class="row">
                                <div class="col p-0">
                                    <input type="submit" value="Change Password" class="btn text-white" style="background-color: #2C3333;"/>
                                </div>
                                <div class="col d-flex align-items-center justify-content-end">
                                    <a href="{% url 'password_reset' %}" style="color: #395B64;">Forgot your Password ?</a>
                                </div>
                            </div>
                        </div>
                    </form>
{% endblock %}

    
{% block scripts %}
    <script>
        $(document).ready(function(){
            $('#flexCheckDefault').click(function(){
                if($(this).is(':checked')){
                    $('#old_password').attr('type', 'text');
                    $('#password1').attr('type', 'text');
                    $('#password2').attr('type', 'text');
                }else{
                    $('#old_password').attr('type', 'password');
                    $('#password1').attr('type', 'password');
                    $('#password2').attr('type', 'password');
                }
            });
        });
    </script>
{% endblock %}