{% extends 'users/base.html' %}


{% block content %}
<h1 class="text-center pb-5" style="color: #2C3333;">Password Reset</h1>
                    <form method="POST"  role="form">
                        {% csrf_token %}
                        <div class="form-froup pb-3">
                            <label for="email">Old Password*</label>
                            {{form.old_password}}
                        </div>
                        <div class="text-danger">
                            {{form.errors.old_password}}
                        </div>
                        <div class="form-froup pb-3">
                            <label for="password">New Password*</label>
                            {{form.new_password1}}
                        </div>
                        <div class="text-danger">
                            {{form.errors.new_password1}}
                        </div>
                        <div class="form-froup pb-3">
                            <label for="password">Confirm Password*</label>
                            {{form.new_password2}}
                        </div>
                        <div class="text-danger">
                            {{form.errors.new_password2}}
                        </div>
                        <div class="container mt-4">
                            <div class="row">
                                <div class="col p-0">
                                    <input type="submit" value="Change Password" class="btn text-white" style="background-color: #2C3333;"/>
                                </div>
                                <div class="col d-flex align-items-center justify-content-end">
                                    <a href="{% url 'register' %}" style="color: #395B64;">Forgot your Password ?</a>
                                </div>
                            </div>
                        </div>
                    </form>
{% endblock %}



{{form.new_password1}}

{{form.new_password2}}