{% extends 'users/base.html' %}


{% block nocolor %}
<div class="col p-4 text-white border border-secondary rounded">
    <div class="container">
        <h2>{{user.first_name}}, your password have been changed successfully !</h2>
        <div class="row pt-5">
            <div class="col">
                <a href="{% url 'dashboard' %}" class="btn btn-outline-success">Done</a>
            </div>
            <div class="col text-end">
                <a href="{% url 'password_change' %}" class="btn btn-outline-danger">Reset Again</a>
            </div>
        </div>
        
    </div>
    
</div>


{% endblock %}