{% extends 'users/base.html' %}


{% block content %}
{% load static %}
<div class="container text-center p-2">
    <img class="img-fluid rounded-pill w-25" src="{{ user.profile.avatar.url }}" alt="{{user.first_name}} image"> <br>
    <h1 id="username_title">{{user.profile.username}}</h1>
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group pb-3">
        <label for="email">Username*</label>
        {{form.username}}
    </div>
    <div class="text-danger">{{form.username.errors}}</div>
    <div class="form-group pb-3">
        <label for="password">Bio*</label>
        {{form.bio}}
    </div>
    <div class="text-danger">{{form.bio.errors}}</div>
    <div class="form-group pb-3">
        <label for="password">Location*</label>
        {{form.location}}
    </div>
    <div class="text-danger">{{form.location.errors}}</div>
    <div class="form-group pb-3">
        <label for="password">Birth Date*</label>
        {{form.birth_date}}
    </div>
    <div class="text-danger">{{form.birth_date.errors}}</div>
    <div class="form-group pb-3">
        <label for="password">Avatar*</label>
        {{form.avatar}}
    </div>
    <div class="text-danger">{{form.avatar.errors}}</div>
    <input type="submit" value="Update" class="btn btn-info py-2 mt-2"/>
</form>

{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $("#username").keydown(function () {
            $("#username_title").text($(this).val());
        });
        $("#username").keyup(function () {
            $("#username_title").text($(this).val());
        });

    });
</script>
{% endblock %}