{% extends 'users/base.html' %}

{% block title %}
<title>Linktree Clone -  Register</title>
{% endblock title %}

{% block content %}

    <h1 class="text-center pb-3" style="color: #2C3333;">Register Page</h1>
    <hr>
    <form method="POST"  role="form">
        {% csrf_token %}
        <div class="form-group pb-3">
            <label for="email">Email*</label>
            {{form.email}}
        </div>
        <div class="text-danger">{{form.email.errors}}</div>
        <div class="form-group pb-3">
            <label for="password">First Name*</label>
            {{form.first_name}}
        </div>
        <div class="text-danger">{{form.first_name.errors}}</div>
        <div class="form-group pb-3">
            <label for="password">Last Name*</label>
            {{form.last_name}}
        </div>
        <div class="text-danger">{{form.last_name.errors}}</div>
        <div class="form-group pb-3">
            <label for="password">Password*</label>
            {{form.password1}}
        </div>
        <div class="text-danger">{{form.password1.errors}}</div>
        <div class="form-group pb-3">
            <label for="password">Repeat Password*</label>
            {{form.password2}}
        </div>
        <div class="text-danger">{{form.password2.errors}}</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Show Password
            </label>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col p-0">
                    <input type="submit" value="Register" class="btn px-5 text-white" style="background-color: #2C3333;"/>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <span>Have an account ? </span><a href="{% url 'login' %}" class="text-white ps-1"> Login</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#flexCheckDefault').click(function(){
            if($(this).is(':checked')){
                $('#password').attr('type', 'text');
                $('#password1').attr('type', 'text');
            } else {
                $('#password').attr('type', 'password');
                $('#password1').attr('type', 'password');
            }
        });
    });
</script>
{% endblock %}