<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #E7F6F2;" class="bg-dark text-white">
    <div class="container">
        {% block navbar %}
        <nav class="navbar navbar-dark bg-dark pb-5 pt-4">
            <a class="text-decoration-none text-white display-6 " href="{% url 'index' %}">Linktree Clone</a>
            <form class="form-inline">
                {% if user.is_authenticated %}
                <a href="{% url 'page_create' %}" class="btn btn-outline-success my-2 my-sm-0">Create Page</a>
                <a href="{% url 'logout'%}" class="btn btn-outline-danger ms-5">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0" >Login</a>
                <a href="{% url 'register' %}" class="btn btn-outline-info my-2 my-sm-0 ms-5" >Register</a>
                {% endif %}
            </form>
        </nav>
        {% endblock navbar %}
    </div>
    
    <div class="container">
        {% block logout %}
        {% endblock %}
    </div>
    
    <div class="container">
        <div class="row fixed-bottom">
            <div class="col"></div>
            <div class="col">
            </div>
            <div class="col p-4">
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{%endif%} alert-dismissible fade show" role="alert" data-tor="show:scale.from(0)">
                    <strong>{{ message }}</strong>
                    <a href="" class="btn-close text-left" data-dismiss="alert" aria-label="close"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        

        {% block content %}
        {% endblock %}
        <div class="fixed-bottom mx-3 ">
            <h3>
                <a href="{% url 'index' %}" class="text-decoration-none text-white text-end">Linktree Clone</a>
            </h3>
        </div>
    </div>
    
    
    
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>